body {
    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3SFakKgmbzlgzsQtZn7lUEXrrmCZMnyMDFDMYUDhcR1RtYHvN);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-color: rgba(175, 137, 39, 0.07);
}


.heading{
   
    color: #efc532;
    line-height:1px;
    
}

.top{
     text-align : center;
}
#p1{
    font-family : cursive;
    text-decoration: underline;
}
ul{
    list-style-type: square;
    background-color: black;
    overflow:hidden;
    
}
li {
    float: left;
    padding:3px;
    display: block;
    
    background-color: #bd570e;
    font-size: larger;
}
