body {
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3SFakKgmbzlgzsQtZn7lUEXrrmCZMnyMDFDMYUDhcR1RtYHvN");
    background-position: center;
    background-repeat: no-repeat;
    
}
.heading{
   
    color : blue;
    line-height:1px;
    
}

.top{
     text-align : center;
}
#p1{
    font-family : cursive;
    text-decoration: underline;
}
ul{
    list-style-: navigation;
    
}