.heading{
   
    color : blue;
    line-height:1px;
    
}
body{
    background-image: ulr("paper.gif");
    
}
.top{
     text-align : center;
}
#p1{
    font-family : cursive;
    text-decoration: underline;
}
ul{
    list-style: navigation;
    
}